.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* Full height of the viewport */
  border: 2px solid #000;
  /* Black border */
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;

}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns */
  gap: 10px;
  margin-top: 20px;
}

.input-screen {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  background-color: #f3f3f3;
  color: #000;
}

.calculator-button {
  width: 70px;
  height: 70px;
  font-size: 24px;
  background-color: #d46f11;
  border: 1px solid #ccc;
  cursor: pointer;
}

.calculator-button:active {
  background-color: #ddd;
}